[submodule "lib/Thermal-Management"]
	path = lib/Thermal-Management
	url = https://github.com/zeju00/Thermal-Management.git
[submodule "lib/liteflow_practice"]
	path = lib/liteflow_practice
	url = https://github.com/zeju00/liteflow_practice.git
[submodule "lib/football-analysis"]
	path = lib/football-analysis
	url = https://github.com/zeju00/football-analysis.git
[submodule "lib/football-tactical-analysis-team-project"]
	path = lib/football-tactical-analysis-team-project
	url = https://github.com/zeju00/football-tactical-analysis-team-project.git
[submodule "lib/cpu-scheduling-RR"]
	path = lib/cpu-scheduling-RR
	url = https://github.com/zeju00/cpu-scheduling-RR.git
[submodule "lib/ptq-qat-comparison"]
	path = lib/ptq-qat-comparison
	url = https://github.com/zeju00/ptq-qat-comparison.git
